@import "../../assets/scss/vars";

.address-actions-box {
    white-space: nowrap;

    ul {
        padding-top: 8px;
        padding-bottom: 8px;

        li {
            display: inline-block;
            padding-inline-start: 8px;
        }

        &.vertical-mode {
            li {
                display: block;
                padding-inline-start: 0;

                > button {
                    width: 100%;
                    min-height: 3.25rem;
                    justify-content: left;
                    padding-inline-start: 16px;
                    padding-inline-end: 16px;

                    svg {
                        margin-inline-end: 8px;
                    }
                }
            }
        }
    }
}
