.std-view {
    main.main {
        padding-top: 32px;
    }

    h1, .h1 {
        font-size: 42px;
        font-weight: normal;
        text-align: center;
        margin-top: 0;
        margin-bottom: 8px;
    }

    h2, .h2 {
        font-size: 31px;
        font-weight: normal;
    }

    h3, .h3 {
        font-size: 26px;
        font-weight: normal;
    }
}
