.deposit-or-borrow-token-window {
    .title {
        text-align: center;
        padding-inline-start: 40px;
    }

    .buttons {
        text-align: center;

        > * {
            margin-inline-end: 4px;
        }
    }
}
